<article>

  <p class="name">
    <%= comment.user.name %>
  </p>

  <p class="comment">
    <%= comment.content %>
    <% if current_user && current_user == comment.user %>
      <%= link_to "Delete", blog_comment_path(@blog, comment),
        method: :delete,
        remote: false,
        style: "float: right" %>
    <% end %>
  </p>

  <p class="fw-lighter">
    <%= comment.created_at.strftime(" %I:%M %p %A") %>
  </p>

</article>

<hr>
