<h2> Share your thoughts </h2>

<%= form_for ([@blog, @blog.comments.build]) do |f| %>

  <%= f.text_area :content, placeholder: "Write a comment...", required: true, autofocus: true %>

  <%= f.hidden_field :user_id, value: current_user.id %>

  <%= f.submit "Add comment" %>

<% end %>
