// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.fw-lighter {
  font-size: 13px;
}

.comment {
  margin: 2px 0;
  font-size: 15px;
}
